body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courgette', sans-serif;
}

/* Start of main hero */

.about-us-section {
  height: 110vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.about-us-text-box {
  height: 40%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: #706c61;
  left: 15%;
  bottom: 25%;
  z-index: 20;
}

.about-us-text-box h2 {
  width: 80%;
  text-align: center;
  color: #fff;
}

.about-us-text-box p {
  width: 80%;
  color: #fff;
}

.about-us-main-picture {
  height: 70%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 5%;
  top: 10%;
  z-index: 10;
}

.about-us-main-image {
  height: 100%;
  width: 100%;
}

/* Personal Profiles */

.personal-profile-section {
  height: 120vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal-profile-container {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-heading {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.profiles-container {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.personal-profile {
  height: 70%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.profile-image {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viola  {
  height: 100%;
  width: 40%;
  margin-top: 5%;
}

.kasia {
  height: 100%;
  width: 50%;
  margin-top: 5%;
}

.personal-profile h2 {
  height: 15%;
  width: 100%;
  background-color: #333333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal-profile p {
  height: 20%;
  width: 80%;
  font-size: 11px;
  margin-bottom: 7%;
}



@media only screen and (max-width: 600px) {


/* About Us */

.about-us-container {
  flex-wrap: wrap;
}

.about-us-text-box {
  wrap: 0 0 400px;
  left: 0;
  top: 0;
  width: 70%;
  height: 60%;
}

.about-us-main-picture {
  height: 60%;
  width: 100%;
  left: 0;
  top: -50px;
}

/* Meet the team */

.personal-profile-section {
  height: 150vh;
}

.profile-heading {
  height: 10%;
}

.profiles-container {
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
}

.personal-profile {
  height: 40%;
  width: 90%;
}

.profile-image {
  height: 50%;
}

.personal-profile h2 {
  height: 15%;
}

.personal-profile p {
  height: 25%;
}

.viola {
  width: 25%;
}

.kasia {
  width: 25%;
}

}

@media only screen and (max-width: 400px) {


.about-us-text-box h2 {
  font-size: 14px;
}

.about-us-text-box p {
  font-size: 10px;
}

.profile-heading h1 {
  font-size: 20px;
}

.personal-profile p {
  font-size: 10px;
}

}
