/* Find Us Section */

.find-us-section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.find-us-container {
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.find-us-heading {
  height: 10%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.find-us-heading h2 {
  font-weight: 800;
  font-size: 28px;
}

.find-us-map-box {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-maps {
  height: 80%;
  width: 80%;
}


@media only screen and (max-width: 600px) {


/* Maps */

.find-us-heading {
  height: 20%;
  text-align: center;
}

.find-us-map-box {
  height: 70%;
}

}

@media only screen and (max-width: 400px) {

.find-us-heading h2 {
  font-size: 14px;
}

}
