body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courgette', sans-serif;
}

/* Start of Contact Section */

.contact-section {
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.telephone-facebook-container {
  height: 70%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.telephone-container {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #706c61;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.telephone-container h2 {
  height: 100%;
  width: 100%;

}

.telephone-container a {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebook-container {
  height: 45%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b5998;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.facebook-container h2 {
  height: 100%;
  width: 100%;
}

.facebook-container a {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.address-container {
  height: 77%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #333333;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.address-text {
  height: 20%;
  width: 100%;
  display: flex;
  margin-left: 10%;
  color: #fff;
}

.address-details {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 700;
  color: #fff;
}



@media only screen and (max-width: 600px) {



/* Contact Section */

.contact-section {
  height: 150vh;
}

.contact-container {
  flex-direction: column;
}

.telephone-facebook-container {
  width: 90%;
}

.address-container {
  height: 40%;
  width: 90%;
}


}

@media only screen and (max-width: 400px) {


.telephone-container h2 {
  font-size: 14px;
}

.facebook-container h2 {
  font-size: 14px;
}

.address-text h2 {
  font-size: 14px;
}

}
