body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courgette', sans-serif;
}


/* Start of Slideshow */

.image-heading {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.image-slideshow-section {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-slideshow-container {
  height: 90%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.more-info-slideshow {
  height: 90%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow-img {
  height: 100%;
  width: 80%;
}

.fa-chevron-circle-left {
  position: absolute;
  left: 25%;
  cursor: pointer;
}

.fa-chevron-circle-right {
  position: absolute;
  right: 25%;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {

.image-heading {
  font-size: 16px;
}

.image-slideshow-container {
  width: 90%;
}

.slideshow-img {
  height: 90%;
  width: 70%;
}

.fa-chevron-circle-left {
  left: 7.5%;
}

.fa-chevron-circle-right {
  right: 7.5%;
}

}

@media only screen and (max-width: 400px) {

  .image-heading {
    font-size: 12px;
  }
}
